{% extends "base.j2" %}

{% block header_text %}
<div>
    <h1>
        Alternate Universe Oregon State University (AU-OSU) Student Enrollment Database
    </h1>
</div>
{% endblock %}

{% block content %}
<div>
    <table>
        <thead>
            <th>Page</th>
            <th>Functionalities</th>
        </thead>
        <tr>
            <td>
                <b>Manage Students</b>
            </td>
            <td>ADD, UDPATE or DELETE a Student</td>
        </tr>
        <tr>
            <td><b>Manage Departments</b></td>
            <td>ADD, UPDATE or DELETE a Department</td>
        </tr>
        <tr>
            <td><b>Manage Terms</b></td>
            <td>ADD, UPDATE or DELETE a Term</td>
        </tr>
        <tr>
            <td><b>Manage Classes</b></td>
            <td>ADD, UPDATE or DELETE a Class</td>
        </tr>
        <tr>
            <td><b>Manage Instructors</b></td>
            <td>ADD, UPDATE or DELETE an Instructor</td>
        </tr>
        <tr>
            <td><b>Enroll Student into Class</b></td>
            <td>ADD or DELETE a Student into a Class</td>
        </tr>
    </table>
</div>
{% endblock %}